<meta name="viewport" content="width=device-width, initial-scale=1">


{{ if .IsTranslated }}
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
{{ end }}

<title>{{ .Params.seotitle }}</title>


<meta name="description" content="
{{ if .IsHome }}
	{{ .Site.Params.description }}
{{ else }}
	{{ .Description }}
{{ end }}"/>

<meta property="og:description" content="
{{ if .IsHome }}
	{{ .Site.Params.description }}
{{ else }}
	{{ .Description }}
{{ end }}"/>

<meta property="og:image" content="">

<meta name="robots" content="noodp"/>

<link rel="canonical" href="{{ .Permalink }}" />

{{ partial "head_scripts/fb_meta.html" . }}
{{ partial "head_scripts/tw_meta.html" . }}
{{ partial "head_scripts/schema_meta.html" . }}
{{ partial "head_scripts/analytics.html" . }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>

<script scr="/js/main.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.min.css">

<link rel="stylesheet" type="text/css" href="https://andreatoffanello.github.io/thetis_icon_font/style.css">
