<div class="side">

	<div class="side_menu">

		<div class="side_heading">
			<i class="icon_menu"></i>
			<h3>Menu</h3>
		</div>




		{{ $current := . }}

		  	{{ range .Site.Menus.docs }}
		     		{{ $active := or ($current.IsMenuCurrent "docs" .) ($current.HasMenuCurrent "docs" .) }}
		     		{{ $active := or $active (eq .Name $current.Title) }}

		     		<a href="{{ .URL }}" class="menu_item {{ if $active }}active{{ end }}" >
		        		{{ .Name }}
		    		</a>
		  	{{ end }}


			{{ range .Site.Menus.resources }}
		     		{{ $active := or ($current.IsMenuCurrent "resources" .) ($current.HasMenuCurrent "resources" .) }}
		     		{{ $active := or $active (eq .Name $current.Title) }}

		     		<a href="{{ .URL }}" class="menu_item {{ if $active }}active{{ end }}" >
		        		{{ .Name }}
		    		</a>
		  	{{ end }}



	</div>


</div>
