{{ define "main" }}

    <main aria-role="main">


    	<div class="hero_head">

    		<div class="hero_content">

    			<img src="{{ .Site.BaseURL }}images/ligea_logo_color.svg" class="hero_logo">
    		
	    		<h1 class="hero_title">Ligea</h1>

	    		<div class="divider"></div>

	    		<h3 class="hero_sub">Thetis IT Design System</h3>
    			
    		</div>

    	</div>


    	<div class="card_grid">

    		<a href="" class="card shadow">

    			<div class="card_head">
    				<h4 class="card_title">Principles</h4>
    			</div>
 

    			<img class="card_img" src="{{ .Site.BaseURL }}images/21.png">

    			<div class="card_content">
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="arrow_right"></i></span>
    				
    			</div>

    		</a>



    		<a href="" class="card shadow">

    			<div class="card_head">
    				<h4 class="card_title">Resources</h4>
    			</div>
 

    			<img class="card_img" src="{{ .Site.BaseURL }}images/21.png">

    			<div class="card_content">
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="arrow_right"></i></span>
    				
    			</div>

    		</a>


    		<a href="" class="card shadow">

    			<div class="card_head">
    				<h4 class="card_title">Documentation</h4>
    			</div>
 

    			<img class="card_img" src="{{ .Site.BaseURL }}images/21.png">

    			<div class="card_content">
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="arrow_right"></i></span>
    				
    			</div>

    		</a>


    		<a href="" class="card shadow">

    			<div class="card_head">
    				<h4 class="card_title">Brand Assets</h4>
    			</div>
 

    			<img class="card_img" src="{{ .Site.BaseURL }}images/21.png">

    			<div class="card_content">
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="arrow_right"></i></span>
    				
    			</div>

    		</a>
    		

    		
    	</div>


	</main>

{{ end }}