{{ define "main" }}

    <main aria-role="main">


    	<div class="hero_head">

    		<div class="hero_content">

    			<img src="{{ .Site.BaseURL }}images/ligea_logo_color.svg" class="hero_logo">

	    		<h1 class="hero_title">Ligea</h1>

	    		<div class="divider"></div>

	    		<h3 class="hero_sub">Thetis IT Design System</h3>

    		</div>

    	</div>


    	<div class="card_grid">

    		<a href="{{ .Site.BaseURL }}principles/" class="card sh">

    			<div class="card_head">
    				<h4 class="card_title uc">Principles</h4>
    			</div>


    			<img class="card_img" src="{{ .Site.BaseURL }}images/principles.svg">

    			<div class="card_content">

    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="icon_arrow_right_long"></i></span>

    			</div>

    		</a>



    		<a href="{{ .Site.BaseURL }}resources/" class="card sh">

    			<div class="card_head">
    				<h4 class="card_title uc">Resources</h4>
    			</div>


    			<img class="card_img" src="{{ .Site.BaseURL }}images/resources.svg">

    			<div class="card_content">

    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="icon_arrow_right_long"></i></span>

    			</div>

    		</a>


    		<a href="{{ .Site.BaseURL }}docs/" class="card sh">

    			<div class="card_head">
    				<h4 class="card_title uc">Documentation</h4>
    			</div>


    			<img class="card_img" src="{{ .Site.BaseURL }}images/docs.svg">

    			<div class="card_content">

    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="icon_arrow_right_long"></i></span>

    			</div>

    		</a>


    		<a href="{{ .Site.BaseURL }}assets/" class="card sh">

    			<div class="card_head">
    				<h4 class="card_title uc">Brand Assets</h4>
    			</div>


    			<img class="card_img" src="{{ .Site.BaseURL }}images/assets.svg">

    			<div class="card_content">

    			</div>

    			<div class="card_bottom">

    				<span class="link right" href="">Read<i class="icon_arrow_right_long"></i></span>

    			</div>

    		</a>



    	</div>


	</main>

{{ end }}
