input {
    width: 100%;
    padding: 4px;
}

label {
    color: $dark;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 8px;
}


.select {
    position: relative;

    .opt_list {
        font-size: 1.4rem;
        background: $white;
        position: absolute;
        top: calc(100% + 32px);
        width: 100%;
        transition: .3s $ease;
        visibility: hidden;
        opacity: 0;

        li {
            padding: 4px 8px;
            cursor: pointer;

            &:hover {
                font-weight: 600;
                background: $main_light;
            }
        }

        &.show {
            top: calc(100% + 8px);
            transition: .3s $ease;
            visibility: visible;
            opacity: 1;
        }
    }

    input {
        position: relative;

        &:after {
            content:"/e905";
            font-family: 'thetis_icon';
            position: absolute;
        }
    }

}
