<div class="attachment_grid">

    <div class="card sh">

        <img src="{{ .Site.BaseURL }}images/saeiv.jpg">

        <div class="card_bottom">

            <a class="link right" href="https://xd.adobe.com/view/339d9de9-de1e-42b7-5b17-23620a3a2b54-45ac/">
                <span>Visualizza</span>
                <i class="icon_arrow_right_long"></i>
            </a>

        </div>
    </div>

    <div class="card sh">

        <img src="{{ .Site.BaseURL }}images/saeiv.jpg">

        <div class="card_bottom">

            <a class="link right" href="{{ .Site.BaseURL }}downloads/saev_artboards_pdf.zip">
                <span>.pdf</span>
                <i class="icon_download"></i>
            </a>

        </div>

    </div>

</div>
