<div class="attachment_grid">

    <div class="card sh">

        <img src="{{ .Site.BaseURL }}images/terminali.jpg">

        <div class="card_bottom">

            <a class="link right" href="https://xd.adobe.com/view/8f87d84b-6306-4a7d-68e8-09db7c277f10-f9b6/">
                <span>Visualizza</span>
                <i class="icon_arrow_right_long"></i>
            </a>

        </div>
    </div>

    <div class="card sh">

        <img src="{{ .Site.BaseURL }}images/terminali.jpg">

        <div class="card_bottom">

            <a class="link right" href="{{ .Site.BaseURL }}downloads/terminali_light_mode.zip">
                <span>Light mode</span>
                <i class="icon_download"></i>
            </a>

        </div>

    </div>

    <div class="card sh">

        <img src="{{ .Site.BaseURL }}images/terminali_dark.jpg">

        <div class="card_bottom">

            <a class="link right" href="{{ .Site.BaseURL }}downloads/terminali_dark_mode.zip">
                <span>Dark mode</span>
                <i class="icon_download"></i>
            </a>

        </div>

    </div>

</div>
